.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #999;
  text-shadow: 0 1px 0 rgb(255 255 255 / 10%), 0 0 30px rgb(255 255 255 / 13%);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}
