<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="https://getbootstrap.com/2.0.2/index.html">Bootstrap Navbar</a>
      <ul class="nav">
        <li class="active"><a href="#">To the Top</a></li>
        <li><a href="#collapsable">Collapsable Area</a></li>
        <li><a href="#video">Video</a></li>
        <li><a href="#form">Submit Form</a></li>
        <li><a href="#random-fact">Random Fact Generator</a></li>
        <li><a href="#footer">To the Bottom</a></li>
        <li class="divider-vertical"></li>
      </ul>
    </div>
  </div>
</div>
