<nav class="navbar-fixed">
  <div class="nav-wrapper teal">
    <a href="https://materializecss.com/" class="brand-logo right">Materialize CSS</a>
    <!-- <a href="#" data-target="menu-responsive" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a> -->
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="#">To the Top</a></li>
      <li><a href="#collapsable">Collapsable Area</a></li>
      <li><a href="#video">Video</a></li>
      <li><a href="#form">Submit Form</a></li>
      <li><a href="#random-fact">Random Fact Generator</a></li>
      <li><a href="#footer">To the Bottom</a></li>
    </ul>
    <!-- <ul class="left hide-on-large-only"> -->
      <!-- Dropdown Trigger -->
      <!-- <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul> -->
  </div>
</nav>
<!-- Dropdown Structure -->
<!-- <ul id="dropdown1" class="dropdown-content">
  <li class="active"><a href="#">To the Top</a></li>
  <li><a href="#collapsable">Collapsable Area</a></li>
  <li><a href="#video">Video</a></li>
  <li><a href="#form">Submit Form</a></li>
  <li><a href="#random-fact">Random Fact Generator</a></li>
  <li><a href="#footer">To the Bottom</a></li>
</ul> -->

<!-- Sidenav menu -->
<!-- <ul class="sidenav" id="menu-responsive">
  <li class="active"><a href="#">To the Top</a></li>
  <li><a href="#collapsable">Collapsable Area</a></li>
  <li><a href="#video">Video</a></li>
  <li><a href="#form">Submit Form</a></li>
  <li><a href="#random-fact">Random Fact Generator</a></li>
  <li><a href="#footer">To the Bottom</a></li>
  <li><i class="material-icons">close</i></li>
</ul> -->

<!-- <nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-large-and-up">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li> -->
      <!-- Dropdown Trigger -->
      <!-- <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav> -->

<script>
  // document.addEventListener('DOMContentLoaded', function() {
  //   // M.AutoInit();
  //   var elems = document.querySelectorAll('.sidenav');
  //   var instances = M.Sidenav.init(elems, {
  //     edge: 'left'
  //   });
  // });
</script>
