<div class="m-container">
  <mat-divider id="form" class="spacer"></mat-divider>
</div>

<div class="m-container form-explanation">
  <h4>Leave a post, leave 50!</h4>
  <p>This form is powered by Angular-Material.  A nice powerful tool for easily setting up validation, error handling, and some stylization. There is an accordian style list that gets created below. Have fun, and fill the accordian as much as you like.</p>
</div>
<div class="spacer2"></div>

<app-create-post></app-create-post>
<app-post-list></app-post-list>
