<div class="m-container long-text">
  <mat-divider id="video" class="spacer"></mat-divider>
</div>

<div class="m-container">
  <p class="fun-text">Here we have a Materialize video component in a standard materialize container. &nbsp; This container is set to automatically take up about 70% of screen width real estate. &nbsp; The video player is responsive by nature. &nbsp; There is a small hover shadow effect for fun.</p>
  <div class="video-container hoverable">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TcWPiHjIExA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
